body {
  background-color: #fff;
  color: #000;
}

.navbar {
  background-color: #f60;
}

.card {
  border: none;
}

.btn-primary {
  background-color: #f60;
  border-color: #f60;
}

.btn-primary:hover {
  background-color: #f60;
  border-color: #f60;
  opacity: 0.8;
}

#sidebar {
  height: 100%;
  border-right: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8
}

#gitbuilding-navbar {
  border-bottom: 1px solid #e8e8e8
}

.sidebar-option {
  border-bottom: 1px solid #e8e8e8;
  padding: 10px;
  text-align: center;
}

.sidebar-option:hover{
  cursor: pointer;
}

.card {
  background-color: #e8e8e8;
}

#project-form {
  padding: 10px;
  position: fixed;
  width:250px;
  left: 70%;
  background-color:antiquewhite;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px #000;
  z-index: 999;
  
}